# Git
.git/
.gitignore

# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Dataset
dataset/
datasets/

# Uploaded files
uploads/
static/uploads/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# OS
.DS_Store
Thumbs.db

# Training files
checkpoints/
runs/
logs/